<mat-toolbar color="primary">
  <mat-icon>account_balance_wallet</mat-icon>
  <span>Personal Ledger</span>
</mat-toolbar>
<div class="content-wrapper">
  <button (click)="newTransaction()" mat-button>
    <mat-icon>add</mat-icon> Add Transaction
  </button>
<div class="container-wrapper">
  <div class="container">
    <mat-card
      id="ledger"
      class="list">
      <p class="empty-label" *ngIf="ledger.length === 0">Empty list</p>
      <app-transaction (edit)="editTransaction('ledger', $event)" *ngFor="let transaction of ledger" [transaction]="transaction"></app-transaction>
    </mat-card>
  </div>
</div>
</div>